<!DOCTYPE html>
<html>
<head>
    <title>Uusi viesti</title>
</head>
<body>
<h1>Uusi viesti</h1>

<form action="/send" method="post" enctype="multipart/form-data">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<textarea name="content" rows="4" cols="40" placeholder="Kirjoita viesti..."></textarea><br><br>
Lisää kuva (valinnainen): <input type="file" name="image"><br><br>
Teema:<br>
<select name="theme">
    <option value="opiskelu">Opiskelu</option>
    <option value="vapaa-aika">Vapaa-aika</option>
    <option value="musiikki">Musiikki</option>
    <option value="elokuvat/sarjat">Elokuvat/Sarjat</option>
    <option value="urheilu">Urheilu</option>
    <option value="lukeminen">Lukeminen</option>
    <option value="pelit">Pelit</option>
</select><br><br>
<input type="submit" value="Lähetä">
</form>

<br>
<a href="/">Takaisin keskusteluun</a>
</body>
</html>
