<!DOCTYPE html>
<html>
<head>
    <title>Uusi postaus</title>
</head>
<body>
<h1>Luo uusi postaus</h1>

<form action="/post_send" method="post" enctype="multipart/form-data">
Otsikko:<br><input name="title"><br><br>
Teksti:<br>
<textarea name="content" rows="4" cols="40"></textarea><br><br>
Teema:<br>
<select name="theme">
    <option value="opiskelu">Opiskelu</option>
    <option value="vapaa-aika">Vapaa-aika</option>
    <option value="musiikki">Musiikki</option>
    <option value="elokuvat/sarjat">Elokuvat/Sarjat</option>
    <option value="urheilu">Urheilu</option>
    <option value="lukeminen">Lukeminen</option>
    <option value="pelit">Pelit</option>
</select><br><br>
Kuva (valinnainen): <input type="file" name="image"><br><br>
<input type="submit" value="Julkaise">
</form>

<br>
<a href="/posts">Takaisin postauksiin</a>
</body>
</html>